<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drdr.card_scanner">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <supports-screens android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />


    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <application>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <activity
            android:name=".CardScannerCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".CardDetectionActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat">
        </activity>
    </application>

</manifest>